nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f172a;
  color: white;
  padding: 18px 40px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav li {
  cursor: pointer;
  font-weight: 500;
}

nav li:hover {
  color: #38bdf8;
}